body {
    background-image: url('../img/background.jpg');
    background-repeat:no-repeat;
    background-position: center;
    font-family: font;
}

@font-face {
    font-family: font;
    src: url('../fonts/dinneuzeitgroteskstd-bdcond-opentype.otf');
}



