body {
    background-image: url('../img/background.jpg');
    background-repeat:no-repeat;
    background-position: center;
    font-family: font;
}

@font-face {
    font-family: font;
    src: url('../fonts/dinneuzeitgroteskstd-bdcond-opentype.otf');
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}



/***********************************************************************************/
/*                                  ACCUEIL                                        */
/***********************************************************************************/
.container_connexion_inscription{
    width: 50%;
    background-color: rgba(255,255,255,0.9);
    padding:15px;
    margin:50px auto 0;
    overflow: hidden;
}
    .container_connexion_inscription .parts{
        float: left;
        width:49%;
        text-align: center;
    }
        .container_connexion_inscription .parts.inscription{
            border-left: 1px solid silver;
        }
        .container_connexion_inscription .parts .icone{
            height:40px;
            width:100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 90%;
        }
        .container_connexion_inscription .parts.inscription .icone{
            background-image:url("../img/connexion_inscription/icone_inscription.png");
        }
        .container_connexion_inscription .parts.connexion .icone{
            background-image:url("../img/connexion_inscription/icone_connexion.png");
        }

        .container_connexion_inscription .parts .title{
            text-transform: uppercase;
        }